body {
  font-family: Lato, sans-serif;
  background-color: white;
  color: #00303F;
}

.brand {
  width: 80%;
  margin: 30px auto 0 auto;
  text-align: center;
  vertical-align: middle;
  background-color: white;
  padding-top: 0;
  padding-bottom: 0;
}

#logo {
  height: 50px;
  width: 50px;
}

.brand > h2 {
  margin-top: 5px;
  font-family: Cookie, cursive;
  color: #00303F;
}

.brand > hr {
  margin-top: 10px;
  margin-bottom: 0px;
  border: .5px solid #00303F;
}

.nav {
  display: flex;
  justify-content: center;
  text-transform:uppercase;
  padding: 0 auto;
  height: 80px;

}

.nav a {
  color: #C0C0C0;
}

.nav > li > a:hover {
  background-color: white;
  font-size: 16px;
  color: #DCAE1D;
}

.gallerybackdrop {
  background-color: white;
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 0;
}

#gallery {
  margin-top: 20px;
  margin-bottom: 20px;
  padding: 20px 0px;
  background-color: white;
  width: 85%;
}

#intro-box {
  outline: #00303F solid 3px;
  margin-top: 15px;
  padding-left: 40px;
  padding-right: 40px;
  padding-top: 30px;
  padding-bottom: 30px;
  vertical-align: middle;
  text-align: center;
  color: #00303F;
  min-height: 391px;
}

#intro-box h6 {
  border-top: 1px solid #00303F;
  display: inline-block;
  padding-top: 5px;
  color: #7A9D96;
}

#gallery figure {
  display: flex;
  justify-content: center;
  padding: 10px;
  flex-direction: column;
}

#gallery img {
  width: 100%;
  box-shadow: 5px 5px 10px #aaa;
}

.needs-top-margin {
  margin-top: 20px;
}

#gallery a:hover {
  position: relative;
  top: 5px;
  left: 5px;
}

footer {
  margin-top: 0px;
  font-size: 12px;
  height: 60px;
}

footer hr {
  margin-top: 0;
  border: .5px solid #00303F;
}

footer ul {
  list-style: none;
  display: flex;
  justify-content: flex-end;
}

footer li img {
  width: 32px;
  height: 32px;
  padding: 5px;
}

.banner {
  background-color: #CAE4DB;
  padding: 0 20px 0 20px;
}

.banner h1 {
  font-family: Cookie;
  color: #DCAE1D;
  margin-top: 40px;
}

.banner img {
  width: 90%;
  float: right;
  margin-top: 40px;
}


.quotebox {
  margin-top: 100px;
  margin-bottom: 100px;
  height: 200px;
  display: flex;
  align-items: center;
  justify-content: center;
}

.blockquote-reverse {
  border-right: 5px solid #DCAE1D;
}

.quotebox footer {
  color: #7A9D96;
}

#mind-map {
  margin-top: 40px;
  margin-bottom: 40px;
}

.fancy {
  width: 75%;
  height: 600px;
  padding: 10px;
  border: 1px solid #ddd;
  background-size: cover;
	background-clip: content-box;
  background-color: #cae4db;
  box-sizing: border-box;
  position: relative;
  margin: 0 auto 100px auto;
  top: 30px;
  text-indent: 50px;
}

.fancy h1 {
  margin-top: 50px;
  color: #DCAE1D;
}

.fancy:after {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-bottom: 50px solid #fefefe;
  bottom: -60px;
  right: -65px;
  box-shadow: 0px 7px 6px -9px black;
  transform: rotate(135deg);
}

.fancy:before {
  content: "";
  display: block;
  position: absolute;
  border: 50px solid transparent;
  border-top: 50px solid #fefefe;
  top: -60px;
  left: -65px;
  box-shadow: 0px -7px 6px -9px black;
  transform: rotate(135deg);
}
